


<div class="bd-example">
  
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Pacing Calculator</h2>
            <p class="card-text">This is the calculator used to determine what the pacing should be set as in the Run-time settings of the LoadRunner script. It follows the formula of Littles Law. We input various factors and output what the number of seconds should be for the two options used in LoadRunner. For more information please see the "How it works" section.</p>
            <button type="button" style="width:200px;height:65px;" onclick="window.location='/pacing/calculate';" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Pacing Calculator</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">How it works</h2>
            <p class="card-text">The formula derived to calculate how much is pacing is to be set between iterations we use the theory of Littles Law. The following section goes into detail about Littles Law and how it works around the Transactions per Second method. We also look at the various Run-time settings available for LoadRunner and which one the customer may use.</p>
            <button type="button" style="width:200px;height:65px;" onclick="window.location='/about';" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> How it works</button>
          </div>
        </div>
      </div>
    </div>
    </div>


